
.root {
	-fx-background-color: #f1f1f1;
	-fx-font-size: 18px;
}

#title {
	-fx-font-size: 20px;
}

.label {
	-fx-font-size: 18px;
	-fx-text-fill: #333333;
	-fx-effect: dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1); 
}

.text {
	-fx-background-color: black, white;
	-fx-background-insets: 0, 1 1 1 1;
	-fx-padding: 20px;
	-fx-font-size: 18px;
}